<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.innovationcodes.eddw">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".view.CheckoutActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".view.SpeakerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SponsorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ScientificProgramme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ProgrammeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MetaAssistActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".view.GuestRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.GuestLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CompanyLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SpeakerLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ChooseTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>